/*OD TU NAPREJ*/

.sekcija_1_box {
  margin-top: 150px;
}
.sekcija_1 {
  padding: 50px;
  width: 100%;
  background-color: #cccccc;
  /*background-image: url(Slike/Neon_Dragon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 1000px;*/
}

.section_mark_1, .section_mark_2, .section_mark_3 {
  width: 100%;
  min-height: 200px;
  background-color: rgba(230, 230, 230, 0.3);
  padding: 15px;
  margin-top: 50px;
  box-shadow: 0 0 15px rgba(230, 230, 230, 1);
  border: 3px solid grey;
}
.section_mark_1 {
  margin-top: 0;
}
.section_mark_1:hover{
 background-color: rgba(255, 255, 255, 0.65);
 transition: 0.4s;
}
.section_mark_2:hover{
 background-color: rgba(255, 255, 255, 0.65);
 transition: 0.4s;
}
.section_mark_3:hover{
 background-color: rgba(255, 255, 255, 0.65);
 transition: 0.4s;
}
.section_mark_1 img, .section_mark_2 img, .section_mark_3 img {
  display: block;
  float: left;
  margin-right: 15px;
  width: 100%;
  max-width: 125px;
  height: auto;
}





































